default matriz

# install
label matriz
  menu label ${boot-label}
  kernel linux
  append initrd=initrd showopts ${kernel-parameters}

label assistida
  menu label instalacao assistida
  kernel linux
  append initrd=initrd showopts ${kernel-parameters} vnc=1

ui			gfxboot bootlogo message
implicit	1
prompt		1
timeout		600
